body{
    background-image:url("/images/dojo.jpg")
}

#background{
    background-color: white;
    margin: 4vw 8vw;
}

#headerImg{
    width: 39vw;
    display: block;
    margin: auto;
}

#main{
    display: flex;
    line-height: 1.25rem;
}

nav{
    width: 25vw;
    padding-left: 5vw;
    position: relative;
    top: -24vw;
}

#about{
    width: 30vw;
    padding-right: 5vw;
    padding-left: 4vw;
}

#rules{
    padding-right: 2vw;
}

#choose{
    font-size: 2.5vw;
    text-decoration: underline;
}

#belts li{
    list-style: none;
    font-size: 2vw;
    padding: 1vw;
    border-radius: 10%;
    width: 30%;
    text-align: center;
    margin: 1vw;
    border: 1px solid black;
}

#belts a{
    color: black;
    text-decoration: none;
}

#belts li:hover{
    background-color: lightgray;
}

#white li{
    background-color: white;
}

#yellow li{
    background-color: yellow; 
}

#orange li{
    background-color: orange; 
    color: white;
}

#green li{
    background-color: green; 
    color: white;
}

#purple li{
    background-color: purple; 
    color: white;
}

#blue li{
    background-color: blue; 
    color: white;
}

#red li{
    background-color: red;
    color: white; 
}

#brown li{
    background-color: brown;
    color: white;
}

#black li{
    background-color: black;
    color: white;
}

