body{
    background-image:url("images/dojo.jpg")
}

#background{
    background-color: rgb(240, 240, 240);
    margin: 8vw;
}

#headerImg{
    width: 39vw;
    display: block;
    margin: auto;
}

#main{
    display: flex;
    line-height: 1.25rem;
}

nav{
    width: 25vw;
    padding-left: 5vw;
    position: relative;
    top: -24vw;
}

#about{
    width: 30vw;
    padding-right: 5vw;
    padding-left: 4vw;
}
#choose{
    font-size: 2.5vw;
    text-decoration: underline;
}

#belts li{
    list-style: none;
    font-size: 2vw;
    padding: 1vw;
    border-radius: 10%;
    width: 30%;
    text-align: center;
    margin: 1vw;
    border: 1px solid black;
}

#belts a{
    color: black;
    text-decoration: none;
}

#white{
    background-color: white;
}

#yellow{
    background-color: yellow;
}

#orange{
    background-color: orange; 
}

#green{
    background-color: green; 
}

#purple{
    background-color: purple; 
}

#blue{
    background-color: blue; 
}

#red{
    background-color: red; 
}

#brown{
    background-color: brown;
}

#black{
    background-color: black;
}

#black a{
    color: white;
}