body{
    background-image:url("images/dojo.jpg")
}


#headerImg{
    width: 39vw;
    display: block;
    margin: auto;
}

#main{
    display: flex;
    line-height: 1.25rem;
}

nav{
    width: 25vw;
    padding-left: 5vw;
    position: relative;
    top: -20vw;
}

#about{
    width: 30vw;
    padding-right: 5vw;
    padding-left: 4vw;
    background-color: rgb(240, 240, 240)
}
#choose{
    font-size: 2.5vw;
    color: white;
    text-decoration: underline;
}

#belts li{
    list-style: none;
    font-size: 2vw;
    padding: 1vw;
    border-radius: 10%;
    width: 30%;
    text-align: center;
    margin: 1vw;
}

#belts a{
    color: black;
    text-decoration: none;
}
#rules{ 
    background-color: rgb(240, 240, 240)
}

#white{
    background-color: white;
}

#yellow{
    background-color: yellow;
}